<HTML>
	<HEAD>
		<TITLE>RuneScape Vis Wax Calculator</TITLE>
		
		<!-- Components -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

		<SCRIPT>
			var vwApp = angular.module("vwApp", []);

			vwApp.config(
				function($httpProvider){
					delete $httpProvider.defaults.headers.common['X-Requested-With'];
				}
			);

			vwApp.controller('vwCtrl', 
				function($scope,$http){
				
					$scope.items = [];
					$scope.viswax = [];
                
                    // list of runes ids.
					var ids = [556, 555, 557, 554, 4696, 4699, 4695, 4698, 4697, 4694, 558, 559, 564, 562, 561, 563, 560, 9075, 565, 566];

					for ( var i in ids ) {
						retData(ids[i]);
					}

					function retData (theID){
						$http.get("http://getCORS.com/http://services.runescape.com/m=itemdb_rs/api/catalogue/detail.json?item=" + theID)
							.then(
								function(result){
									//result.data.item.qty = 0;
									var theData = result.data;
									theData.item.qty = 0;
									$scope.items.push(theData.item);
								}
							);
					}
					
                    $http.get("http://getCORS.com/http://services.runescape.com/m=itemdb_rs/api/catalogue/detail.json?item=" + 32092)
                    .then(
                        function(result){
                        	result.data.item.current.price = parseFloat(result.data.item.current.price.replace(',',''));
                            $scope.viswax = result.data.item;
                        }
                    );

					$scope.total = function() {
						var total = 0;
						angular.forEach($scope.items, function(item) {
							total += item.qty * item.current.price;
						})

						return total;
					}


					
				}
			);
		</SCRIPT>
		
	</HEAD>
	<BODY>
		<H1>RuneScape Vis Wax Calculator</H1>
		
		<div>Please wait while we retrieve real time data from Grand Exchange</div>
		<BR>
		<DIV ng-app="vwApp" ng-controller="vwCtrl">
			
			<TABLE>
				<TR>
					<TD WIDTH="100"><B>Name</B></TD>
					<TD WIDTH="100"><B>Price</B></TD>
					<TD WIDTH="100"><B>Qty</B></TD>
					<TD WIDTH="100"><B>Total</B></TD>
				</TR>
				<TR ng-repeat="i in items">
					<TD>{{i.name}}</TD>
					<TD>{{i.current.price}} gp</TD>
					<TD><INPUT TYPE="number" ng-model="i.qty" min="0"/></TD>
					<TD>{{i.current.price * i.qty}} gp</TD>
				</TR>
				<TR>
					<TD>Total</TD>
					<TD></TD>
					<TD></TD>
					<TD>{{total()}}</TD>															
				</TR>
				<TR>
					<TD>{{viswax.name}}</TD>
					<TD>{{viswax.current.price}} gp</TD>
					<TD>100</TD>
					<TD>{{viswax.current.price * 100}} gp</TD>															
				</TR>                    
                    
			</TABLE>
			
		</DIV>
        <HR>
        &copy 2017 The Reforged.

	</BODY>
</HTML>
